$numder: 1;
$string: bold;
$color:red;
$boolean: true;
$null:null;
$list:orange, royalblue, yellow;
$map:(
  o: orange,
  r: royalblue,
  y: yellow
);

// @each $c in $list {
//   .box{
//     color: $c;
//   }
// }

// @each $k, $v in $map {
//   .box-#{$k} {
//     color: $v;
//   }
// }

@mixin left-top {
  position: absolute;
  top: 0;
  left: 0;
  @content;
}

.container {
  width: 100px;
  height: 100px;
  @include left-top;
}

.box{
  width: 200px;
  height: 300px;
  @include left-top{
    bottom: 0;
    right: 0;
    margin: auto;
  }
}